/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .widget.throttle {
    opacity: 0.5;
    pointer-events: none;
 }
.widget.latest_posts_widget-2 {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
    padding: 30px;
    font-size: 18px;
    line-height: 1.2;
}

.widget.latest_posts_widget-2 h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.widget.latest_posts_widget-2 li:not(:last-child) {
    margin-bottom: 20px;
}

.widget.latest_posts_widget-2 li a {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: underline;
}


.widget .filter {
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.widget .filter__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: left;
}

.widget input[type='checkbox'] {
    appearance: none;
    -webkit-apearance: none;
    display: none;
}
.widget label {text-decoration: underline;}
.widget input[type='checkbox']:checked ~ label {
    font-weight: 700;
}
.widget input[type='checkbox']:checked ~ label::after {
    content: "\2713";
}